{
    "token": "",
    "feeds": [
        {
            "title" : "",
            "author" : "",
            "feed_url" : "",
            "snippet" : true,
            "chat_id": ""
        }
    ]
}
